body{
	background-color: black;
	font-family: "andale mono";
}

.container {
	top: 100px;
	width: 56%;
	height: 500px;
	position: absolute;
	margin-left: 50%;
	left: -32%;
	/*border: 1px solid tomato;*/
	padding: 20px;
}

.hex {
	margin-right: 20px;
	float: left;
	width: 100px;
	height: 500px;
	/*border: 1px solid magenta;*/
	color: magenta;
	text-align: right;
}

.time {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
	width: 74%;
	height: 60px;
	border: 1px solid tomato;
	font-size: 42px;
	color: tomato;
}

.coiner {
	margin-top: 5px;
	margin-left: 20px;
	float: left;
	width: auto;
	height: auto;
	/*border: 1px solid tomato;*/
}

.text {
	margin-top: 20px;
	top: 200px;
	float: left;
	width: 75%;
	height: 400px;
	border: 1px solid cyan;
}

.rect {
	width: 100px;
	float: left;
	height: 100%;
	border-right: 1px solid cyan;
}

.timeD, .timeM, .timeY {
	height: 50px;
	width: auto;
	font-size: 42px;
	color: tomato;
	float: left;
}


.hourly {
	float: right;
	height: 50px;
	width: auto;
	margin-right: 10px;
}

.timeH, .timeMN, .timeS {
	height: 50px;
	width: auto;
	float: left;
	text-align: right;
	width: auto;
}

.coin {
	position: absolute;
    width: 4em; height: 4em; 
    -webkit-border-radius: 4em; 
    -moz-border-radius: 4em;
    border: 1.5px solid white;
  }

.coin:hover {
	background: white;
  } 


  .hole {
  	width: 10px;
  	height: 10px;
  	margin-top: 50%;
	margin-left: 50%;
	top: -5px;
	left: -5px;
	position: relative;
    background: black;
    border: 1px solid white;
  }

  .upper, .base {
	width: 80px;
	height: 28px;
	margin: 10px;
	background-repeat: no-repeat;

}
