iframe {
        border-bottom: black;
}

body
{
    background: black;    
    font-family: "andale mono";
}
            
h1, h2, h3, h4, h5, h6
{
    color: black;
    font-size: 18px;              
}

p
{
    color: black;
}

#divination
{
    white-space: pre;
    color: white;   
    background: black; 
    font-size: 12px;
    border: none;
}
#divingation hr {
   color: black;
   display: none;

}